body{
	background-color: #3e78d6;
}

span.a {
  display: inline; /* the default for span */
  width: 200px;
  height: 40px;
  border: 1px solid;  
  background-color: burlywood; 
  font-color: white;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  float: right;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px #ad8ba6;
}

.block{
width: auto;
height: 200px;
}

/*table{
  margin-top: 250px;
}


span.b {
  display: inline; /* the default for span 
  width: 200px;
  height: 40px;
  border: 1px solid;  
  background-color: burlywood; 
  font-color: white;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  float: right;
  margin-top: 15px;
}*/
